<div class="card-block">
  <div class="row">
      <div class="col-md-12">
          <div class="card-block">
              <div class="row">
                  <div class="col-md-12">
                      <section class="card">
                          <div class="card-header" style="padding: .6rem 1.25rem;">
                              <div class="pull-right margin-left-20">
                                  <div class="dropdown d-inline-block">
                                      <button class="btn btn-rounded btn-primary margin-inline" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                          <i class="fa fa-plus" aria-hidden="true"></i> Añadir
                                      </button>
                                  </div>
                              </div>
                              <div class="pull-right ">
                                  <div class="search-block">
                                      <div class="form-input-icon form-input-icon-right">
                                          <i class="icmn-search"></i>
                                          <input type="text" #filterText class="form-control form-control-sm form-control-rounded" placeholder="Buscar...">
                                      </div>
                                  </div>
                              </div>
                              <span class="cat__core__title" style="position:relative; top:4px">
                                      <strong>Lista Proyectos</strong>
                                  </span>
                              <div class="collapse" id="collapseExample" style="width:100%">
                                  <div class="card-block">

                                      <form  (ngSubmit)="create(f)" #f="ngForm">

                                          <div class="form-group">
                                              <div class="row">
                                                  
                                                  <div class="col-md-4">
                                                      <span class="ui-float-label">
                                                          <input [(ngModel)]="projectName" [ngModelOptions]="{standalone: true}" required id="float-input" type="text" size="30" pInputText> 
                                                          <label for="float-input">Nombre del Proyecto</label>
                                                      </span>
                                                  </div>

                                                  <div class="col-md-4">
                                                    <p-autoComplete [(ngModel)]="selectedCustomer" [ngModelOptions]="{standalone: true}" [suggestions]="filteredCustomers" (completeMethod)="filterCustomers($event)" [size]="30"
                                                      [minLength]="1" placeholder="Seleccione Cliente" [dropdown]="true" field="Name">

                                                          <ng-template let-customer pTemplate="item">
                                                              <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                                                                  <div >{{customer.Id}}. {{customer.FirstName}} {{customer.LastName}}</div>
                                                              </div>
                                                          </ng-template>

                                                    </p-autoComplete>
                                                  </div>

                                                  <div class="col-md-4">
                                                    <p-autoComplete [(ngModel)]="selectedProjectType" [ngModelOptions]="{standalone: true}" [suggestions]="filteredProjectTypes" (completeMethod)="filterProjectTypes($event)" [size]="30"
                                                      [minLength]="1" placeholder="Seleccione Tipo de Proyecto" [dropdown]="true" field="Description">

                                                          <ng-template let-customer pTemplate="item">
                                                              <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                                                                  <div >{{customer.Description}}</div>
                                                              </div>
                                                          </ng-template>

                                                    </p-autoComplete>
                                                  </div>
                                                  
                                              </div>
                                          </div>

                                          <div class="form-group">
                                              <div class="row">

                                                <div class="col-md-4">
                                                    <p-autoComplete [(ngModel)]="selectedExpenseUnit" [ngModelOptions]="{standalone: true}" [suggestions]="filteredExpenseUnits" (completeMethod)="filterExpenseUnit($event)" [size]="30"
                                                      [minLength]="1" placeholder="Seleccione Unidad de Gasto" [dropdown]="true" field="Name">

                                                          <ng-template let-expenseUnit pTemplate="item">
                                                              <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                                                                  <div >{{expenseUnit.Name}}</div>
                                                              </div>
                                                          </ng-template>

                                                    </p-autoComplete>
                                                </div>

                                                <div class="col-md-4">

                                                    <span class="ui-float-label">
                                                        <p-calendar id="dateStart" [(ngModel)]="dateStart"  (onSelect)="setInvalidDate()" [ngModelOptions]="{standalone: true}" [locale]="es" dateFormat="dd/mm/yy"></p-calendar> 
                                                        <label for="dateStart">Fecha de Inicio</label>
                                                    </span>

                                                    
                                                </div>

                                                <div class="col-md-4">

                                                    <span class="ui-float-label">
                                                        <p-calendar id="dateFinish" [(ngModel)]="dateFinish"  [disabledDates]="invalidDates" [ngModelOptions]="{standalone: true}" [locale]="es" dateFormat="dd/mm/yy"></p-calendar> 
                                                        <label for="dateFinish">Fecha de Inicio</label>
                                                    </span>
                                                 
                                                  
                                                </div>

          
                                              </div>
                                          </div>

                                          <div class="form-group">
                                              <div class="row">
                                                  <div class="col-md-4">
                                                    <textarea [(ngModel)]="projectNotes" [ngModelOptions]="{standalone: true}" rows="4" cols="50" pInputTextarea autoResize="autoResize"></textarea>
                                                  </div>
                                              </div>
                                          </div>
                                          

                                          <button type="submit" class="btn btn-primary margin-inline pull-right" [disabled]="f.invalid">Guardar</button>
                                          <button type="button" class="btn btn-danger margin-inline pull-right" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                              Cancelar
                                          </button>
                                          
                                      </form>
                                  </div>
                              </div>
                          </div>
                          <div class="card-block">
                              <div class="mb-5">
                                  <!-- Horizontal Form -->
                                  <div>
                                      <div class="form-group">
                                          <div class="row">
                                              <div class="col-lg-12">
                                                  <p-dataTable [value]="projects" [editable]="true" [globalFilter]="filterText" [immutable]="false">
                                                      <p-column field="Id" header="ID"></p-column>
                                                      <p-column field="Name" header="Nombre" [editable]="true"></p-column>
                                                      
                                                      <p-column field="InDate" header="Fecha de Inicio" [editable]="true">
                                                          <ng-template let-col let-project="rowData" pTemplate="body">
                                                              <span>{{ project[col.field] | date  }}</span>
                                                          </ng-template>
                                                      </p-column>

                                                      <p-column field="OutDate" header="Fecha de Finalizacion" [editable]="true">
                                                          <ng-template let-col let-project="rowData" pTemplate="body">
                                                              <span>{{ project[col.field] | date  }}</span>
                                                          </ng-template>
                                                      </p-column>

                                                      <p-column field="Employee" header="Empleado" [editable]="true">
                                                          <ng-template let-col let-project="rowData" pTemplate="body">
                                                              <span>{{ project[col.field].FirstName }}  {{project[col.field].LastName}}</span>
                                                          </ng-template>
                                                      </p-column>
                                                      <!-- <p-column field="Description" header="Descripción" [editable]="true"></p-column>
                                                      <p-column field="Balance" header="Equilibrio" [editable]="true">
                                                          <ng-template let-col let-car="rowData" pTemplate="body">
                                                              <span>{{ car[col.field] | currency:'USD':true:'4.0-2' }}</span>
                                                          </ng-template>
                                                      </p-column>
                                                      <p-column field="Budget" header="Responsable" [editable]="true"></p-column> -->
                                                      <p-column styleClass="col-button" header="Acciones">
                                                          <ng-template let-searchVal="rowData" let-i="rowIndex" pTemplate="body">
                                                              <button type="button" class="btn btn-icon btn-danger mr-2 mb-2  swal-btn-warning">
                                                                  <i class="fa fa-trash" aria-hidden="true" (click)="delete(searchVal.Id, i)"></i>
                                                              </button>
                                                              <button (click)="update(searchVal)" type="button" class="btn btn-icon btn-primary mr-2 mb-2">
                                                                  <i class="icmn-spinner11" aria-hidden="true"></i>
                                                              </button>

                                                              <button type="button" 
                                                              class="btn btn-icon btn-warning mr-2 mb-2"
                                                              data-toggle="modal" data-target="#projectModal">
                                                                  <i class="icmn-info" aria-hidden="true"></i>
                                                              </button>
                                                          </ng-template>
                                                      </p-column>
                                                  </p-dataTable>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="card-block">
                                  <div class="row">
                                      <div class="col-lg-6">
                                          <div class="mb-5">
                                              <br />
                                              <br />
                                              <div class="collapse" id="collapseExample">
                                                  <div class="card card-block">
                                                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid
                                                  </div>
                                              </div>
                                              <br />
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </section>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade modal-size-large" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Proyectos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>