<div class="card-block">
    <div class="row">
        <div class="col-md-12">

            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-5">
                          
                            <!-- Horizontal Form -->
                            <div>

                                <div class="form-group">
                                    <div class="form-group row"> 
                                       
                                      <div class="col-md-6">
                                          <label>Origen</label>
                                          <select class="source-select" >
                                          </select>
                                      </div>

                                      <div class="col-md-6">
                                          <label>Negocio</label>
                                          <select class="select2" id="business">
                                            
                                          </select>
                                      </div>

                                      

                                    </div>
                                   
                                </div>
                                <div class="form-group">
                                    <label>Proveedor</label>
                                    <select class="select2" id="suppliers">
                                    </select>
                                </div>

                                <div class="form-group">
                                   
                                        <div class="row">
                                            <div class="col-md-4 btn-group" data-toggle="buttons">
                                                <label (click)="setRadioDateType('movement')" class="btn btn-outline-primary active">
                                                    <input 
                                                    type="radio" 
                                                    id="radioDateType" 
                                                    name="radioDateType">
                                                    Movimiento
                                                </label>

                                                <label (click)="setRadioDateType('document')" class="btn btn-outline-primary">
                                                    <input 
                                                    type="radio" 
                                                    id="radioDateType" 
                                                    name="radioDateType">
                                                    Documento
                                                </label>

                                               
                                                
                                            </div>
                                            <div class="col-md-4">
                                                <div *ngIf="radioDateType=='movement';else labelRadio">
                                                   <label>Movimiento Inicial</label>
                                                </div>

                                                <ng-template #labelRadio>
                                                    <label>Documento Inicial</label>
                                                </ng-template>
                                                
                                                
                                                <input [(ngModel)]="initialDateSelected"  id='initialDate' type="text" class="form-control datepicker-only-init width-200 display-inline-block mr-2 mb-2" placeholder="Desde" />
                                            </div>
                                           
                                            <div class="col-md-4">
                                                <div *ngIf="radioDateType=='movement';else labelRadio">
                                                   <label>Movimiento Final</label>
                                                </div>

                                                <ng-template #labelRadio>
                                                    <label>Documento Final</label>
                                                </ng-template>
                                                <input [(ngModel)]="finalDateSelected"  id='finalDate' type="text" class="form-control datepicker-only-init width-200 display-inline-block mr-2 mb-2" placeholder="Hasta" />
                                            </div>
                                        </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-group row"> 
                                       
                                      <div class="col-md-3">
                                          <label>Insumo</label>
                                          <select class="supplies-select" >
                                          </select>
                                      </div>

                                      <div class="col-md-3">
                                          <label>Caja Chica</label>
                                          <select class="petty-cash-select" >
                                          </select>
                                      </div>

                                      <div class="col-md-3">
                                          <label>Registro Inmediato </label>
                                          <select class="immediate-registration-select" >
                                          </select>
                                      </div>

                                      <div class="col-md-3">
                                          <label>Factura</label>
                                          <select class="bill-select" >
                                          </select>
                                      </div>

                                      

                                      

                                    </div>
                                   
                                </div>

                                <div class="form-actions">
                                    <div class="form-group row">

                                        <div class="col-md-2">
                                            <div>
                                                <div *ngIf="dataTableSearch.length!==0" >
                                                    <h5> <span >Suma({{dataTableSearch.length}})</span></h5>
                                                    <h2> <span class="badge badge-success">{{totalTableSearch}}</span></h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 offset-md-8">
                                            

                                            <button 
                                            type="button" 
                                            class="btn btn-icon btn-outline-primary mr-2 mb-2"
                                            (click)="onSearchSupplierInvoices()"><i class="icmn-search" aria-hidden="true"></i></button>
                                            <button type="button" class="btn btn-icon btn-outline-primary mr-2 mb-2"><i class="icmn-plus" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    
                                    <div class="row">
                                        <div class="col-lg-12">
                                           
                                            <p-dataTable [value]="dataTableSearch" expandableRows="true" [editable]="true">
                                                <p-column expander="true" styleClass="col-icon"></p-column>
                                                <p-column field="ID" header="ID" [editable]="true"></p-column>
                                                <p-column field="FechaMovimiento" header="Fecha de Movimiento" [editable]="true"></p-column>
                                                <p-column field="FechaDocumento" header="Fecha de Documento" [editable]="true"></p-column>
                                                <p-column field="NegocioLabel" header="Negocio" [editable]="true"></p-column>
                                                <p-column field="ProveedorLabel" header="Proveedor" [editable]="true"></p-column>
                                                <p-column field="Total" header="Total" [editable]="true"></p-column>

                                                <p-column styleClass="col-button" header="Acciones">
                                                        
                                                        <ng-template let-searchVal="rowData" pTemplate="body">
                                                                <button type="button" class="btn btn-icon btn-primary mr-2 mb-2"><i class="icmn-info" aria-hidden="true"></i></button>
                                                                <button 
                                                                (click)="undoInvoice(searchVal)"
                                                                type="button" 
                                                                class="btn btn-icon btn-danger mr-2 mb-2  swal-btn-warning"><i class="icmn-spinner11" aria-hidden="true"></i></button>
                                                        </ng-template>
                                                </p-column>
                                                

                                                <ng-template let-searchVal pTemplate="rowexpansion">
                                                        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
                                                            <div class="ui-grid-row">
                                                               
                                                                 
                                                                <div class="ui-grid-col-12">
                                                                    <div class="ui-grid ui-grid-responsive ui-grid-pad">
                                                                        <div class="ui-grid-row">
                                                                            <div class="ui-grid-col-3 label">
                                                                                Caja Chica: <br>
                                                                                        <button *ngIf="searchVal.esCajaChica" type="button" class="btn btn-icon btn-info btn-rounded mr-2 mb-2"><i class="icmn-checkmark" aria-hidden="true"></i></button>
                                                                                        <button *ngIf="!searchVal.esCajaChica" type="button" class="btn btn-icon btn-danger btn-rounded mr-2 mb-2"><i class="icmn-cross" aria-hidden="true"></i></button>
                                                                                
                                                                            </div>

                                                                            <div class="ui-grid-col-3 label">
                                                                                Insumo: <br>
                                                                                        <button *ngIf="searchVal.esInsumo" type="button" class="btn btn-icon btn-info btn-rounded mr-2 mb-2"><i class="icmn-checkmark" aria-hidden="true"></i></button>
                                                                                        <button *ngIf="!searchVal.esInsumo" type="button" class="btn btn-icon btn-danger btn-rounded mr-2 mb-2"><i class="icmn-cross" aria-hidden="true"></i></button>
                                                                                        <button (click)="setSelectedSupplierForModal(searchVal.ID)" *ngIf="!searchVal.esInsumo" type="button" class="btn btn-icon btn-success btn-rounded mr-2 mb-2" data-toggle="modal" data-target="#suppliesModal"><i class="icmn-plus" aria-hidden="true"></i></button>
                                                                                        
                                                                            </div>

                                                                            <div class="ui-grid-col-3 label">
                                                                                    Reg.Inmediato: <br>
                                                                                        <button *ngIf="searchVal.esRegInmediato" type="button" class="btn btn-icon btn-info btn-rounded mr-2 mb-2"><i class="icmn-checkmark" aria-hidden="true"></i></button>
                                                                                        <button *ngIf="!searchVal.esRegInmediato" type="button" class="btn btn-icon btn-danger btn-rounded mr-2 mb-2"><i class="icmn-cross" aria-hidden="true"></i></button>
                                                                                
                                                                            </div>
                                                                            
                                                                            <div class="ui-grid-col-3 label">
                                                                                    Factura: <br>
                                                                                        <button *ngIf="searchVal.esFactura" type="button" class="btn btn-icon btn-info btn-rounded mr-2 mb-2"><i class="icmn-checkmark" aria-hidden="true"></i></button>
                                                                                        <button *ngIf="!searchVal.esFactura" type="button" class="btn btn-icon btn-danger btn-rounded mr-2 mb-2"><i class="icmn-cross" aria-hidden="true"></i></button>
                                                                                
                                                                            </div>

                                                                            <div class="ui-grid-col-3 label">
                                                                                    Prorrateado: <br>
                                                                                        <button *ngIf="searchVal.esProrrateo" type="button" class="btn btn-icon btn-info btn-rounded mr-2 mb-2"><i class="icmn-checkmark" aria-hidden="true"></i></button>
                                                                                        <button *ngIf="!searchVal.esProrrateo" type="button" class="btn btn-icon btn-danger btn-rounded mr-2 mb-2"><i class="icmn-cross" aria-hidden="true"></i></button>
                                                                                
                                                                            </div>

                                                                            <div class="ui-grid-col-3 label">
                                                                                    Origen: <br>
                                                                                    <h5> <span class="badge badge-primary">{{searchVal.source}}</span></h5>
                                                                                
                                                                            </div>

                                                                            <div class="ui-grid-col-3 label">
                                                                                    Saldo: <br>
                                                                                    <h5> <span class="badge badge-primary">{{searchVal.Saldo}}</span></h5>
                                                                                
                                                                            </div>
                                                                            
                                                                        </div>
                                                                      
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                            </p-dataTable>
                                        </div>
                                    </div>
                                </div>

                                

                                
                                
                                <div class="form-actions">
                                    <div class="form-group row">
                                        <div class="col-md-7 offset-md-5">
                                            

                                            <button 
                                            type="submit" 
                                            class="btn btn-rounded btn-primary mr-2 mb-2"
                                            (click)="submit()" 
                                            >Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Horizontal Form -->


                            
                            <div class="modal fade modal-size-large" id="suppliesModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel">Insumos</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                
                                                <div class="row">
                                                    <div class="col-lg-12">

                                                          

                                                            <p-dataTable [value]="allSupplies" [rows]="10" [paginator]="true" [globalFilter]="gb" selectionMode="single" [(selection)]="selectedSupplieModal"  dataKey="ID" #dt>
                                                                    <p-header>Lista de Insumos</p-header>
                                                                    <p-column field="Codigo" header="Codigo" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                                                    <p-column field="Nombre" header="Nombre" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                                                    <p-column field="CtaPadreNombre" header="Cta Padre" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                                                    <p-column field="CtaHijoNombre" header="Cta Hijo" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                                                    <p-column field="Presentacion" header="Presentacion" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                                            </p-dataTable>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                     
                        </div>
                    </div>
                </div>
                
               
               
            </div>
                
            
          
                
           
        </div>
    </div>
    
</div>


