<!-- START: pages/login-beta -->
<div class="cat__pages__login" >

  <div class="cat__pages__login__block cat__pages__login__block--extended">
      <div class="row">
          <div class="col-xl-12">
              <div class="cat__pages__login__block__inner">
                  <div class="cat__pages__login__block__form">
                      <h4 class="text-uppercase">
                          <strong>Por Favor Ingrese Credenciales</strong>
                      </h4>
                      <br />
                      <form id="form-validation" name="form-validation" (ngSubmit)="onSignin(f)" #f="ngForm">
                          <div class="form-group">
                              <label class="form-label">Username</label>
                              <input 
                                     class="form-control"
                                     placeholder="Email or Username"
                                     type="email" id="email" name="email" ngModel >
                          </div>
                          <div class="form-group">
                              <label class="form-label">Password</label>
                              <input 
                                     class="form-control password"
                                     type="password"
                                     id="password"
                                     name="password"
                                     ngModel
                                     placeholder="Password">
                          </div>
                          
                          <div class="form-actions">
                              <button type="submit" class="btn btn-primary mr-3">Sign In</button>
                              
                          </div>
                         
                      </form>
                  </div>
                  <div class="cat__pages__login__block__sidebar">
                      <h4 class="cat__pages__login__block__sidebar__title">
                          <strong>Agile Dev Meetup</strong>
                          <br />
                          <span>2017</span>
                      </h4>
                      <div class="cat__pages__login__block__sidebar__item">
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                          the industry's standard dummy text ever since the 1500s.
                      </div>
                      <div class="cat__pages__login__block__sidebar__item">
                          Ipsum has been the industry's standard dummy text ever since the 1500s.
                      </div>
                      <div class="cat__pages__login__block__sidebar__place">
                          <i class="icmn-location mr-3"><!-- --></i>
                          New York, USA
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
 
</div>
<!-- END: pages/login-beta -->
