
<section class="card">
  <div class="card-header">
      <span class="cat__core__title">
          <strong>Casa</strong>
      </span>
  </div>
  <div class="card-block">

      <div class="row">
          <div class="col-lg-12">
              <div class="mb-5">
                  
                  
                  <div class="row">
                      <div class="col-lg-3">
                          <!-- Example State Done -->
                          <div style="cursor: pointer" routerLink="/"  class="item-device">
                              <span class="cat__core__step__digit">
                                  <i class="icmn-home"><!-- --></i>
                              </span>
                              <div class="cat__core__step__desc">
                                  <span class="item-device__title">Casasdfadsa</span>
                                  <p>3 dispositivos</p>
                              </div>
                          </div>
                          <!-- End Example State Done -->
                      </div>
                      <div class="col-lg-3">
                          <!-- Example State Error -->
                          <div style="cursor: pointer" routerLink="devices-list"  class="item-device">
                              <span class="cat__core__step__digit">
                                  <i class="fa fa-tasks"><!-- --></i>
                              </span>
                              <div class="cat__core__step__desc">
                                  <span class="item-device__title">asdfdsafsadf</span>
                                  <p>1 disitivo</p>
                              </div>
                          </div>
                          <!-- End Example State Error -->
                      </div>
                    
                    
                  </div>
              </div>
          </div>
        </div>
      
  </div>

</section>