
<section class="card">
  <div class="card-header">
      <span class="cat__core__title">
          <strong>Bienvenido</strong>
      </span>
  </div>
  <div class="card-block">

      <div class="row">
          <div class="col-lg-12">
              <div class="mb-5">
                  <h5 class="text-black"><strong>Por Favor Seleccione Una de las Opciones </strong></h5>
                  
                  <div class="row">
                      <div class="col-lg-3">
                          <!-- Example State Done -->
                          <div style="cursor: pointer" routerLink="/"  class="cat__core__step cat__core__step--squared cat__core__step--primary">
                              <span class="cat__core__step__digit">
                                  <i class="icmn-home"><!-- --></i>
                              </span>
                              <div class="cat__core__step__desc">
                                  <span class="cat__core__step__title">Home</span>
                                  <p>Inicio</p>
                              </div>
                          </div>
                          <!-- End Example State Done -->
                      </div>
                      <div class="col-lg-3">
                          <!-- Example State Error -->
                          <div style="cursor: pointer" routerLink="/expense-unit/expense-unit-list"  class="cat__core__step cat__core__step--squared cat__core__step--primary">
                              <span class="cat__core__step__digit">
                                  <i class="icmn-coin-dollar"><!-- --></i>
                              </span>
                              <div class="cat__core__step__desc">
                                  <span class="scat__core__step__title">Unidad de Gasto</span>
                                  <p>Manejo de Global</p>
                              </div>
                          </div>
                          <!-- End Example State Error -->
                      </div>
                    
                    
                  </div>
              </div>
          </div>
        </div>
      
  </div>

</section>

